<body class="games">
    <div>
         <form id= "addgame" action="/users/<%= current_user.id %>/games" method="post">
            <input type="text" name="title" placeholder="Title">
            <input type="submit" class="pure-button pure-button-primary" value="Add Game">
        </form>
    </div>

<div id="gametable">
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Release</th>
                <th>Guide</th>
                <th>Shop</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

         <% @games.each_with_index do |game, index| %>
            <%= render partial: "addrow", locals%>
        <% end %>
    </tbody>
</table>
</div>
</body>
